/* 🎯 VARIÁVEIS DE COR */
:root {
  --orange: #F6AA3C;
  --verdeClaro:#e2f4df;
  --gold: #FED52D;
  --amareloClaro: #faf6dd;
  --porcelain: #F9FCFA;
  --porcelain2: #f2f3f2;
  --celadon: #A9C9A5;
  --celadonDark: #8aa287;
  --silver: #CAC9C6;

  --dark: #7d7d7d;
  --white: #FFFFFF;
}

/* BASE GERAL */
body {
  background-color: var(--porcelain2);
  color: var(--dark);
  font-family: 'Open Sans', sans-serif;;
}

/* NAVBAR */
.navbar {
  background-color: var(--celadon);
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);

}

.navbar-item {
  color: var(--porcelain);
  font-weight: 500;
}

.imagem-logo {
  
  height: 60px;
  width: 50px;

  display: block;
  
}

.navbar .navbar-item:hover {
  color: var(--orange);
  background-color: var(--porcelain2);
}

/*  HERO */

.hero-home{
  background-image: url('img/apaefoto.jpeg');
  min-height: 500px;
}

.hero-artesanato{
  background-image: url('img/artesanato.jpeg');
  min-height: 250px;
}

.hero-bg {
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.hero-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  
   background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.6) 0%,
    rgba(0,0,0,0.6) 40%,
    rgba(0,0,0,0.6) 70%,
    rgba(0,0,0,0.0) 100%
  );
  
}

.hero-bg .hero-body {
  position: relative;
  z-index: 2;
}

.hero .title,
.hero .subtitle {
  color: var(--porcelain);
}


/*  SEÇÕES */
.section {
  padding: 3rem 1.5rem;
}

/*  CARDS */
.cardAtv {
  background-color: var(--porcelain);
  border-radius: 12px;
  transition: 0.3s;
  height: 100%;
  align-items: center;
  text-align: center;
  padding: 15px;
  margin: 30px;
}

.card {
  border-radius: 12px;
  transition: 0.3s;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  padding: 15px;
}

.card p {
  flex-grow: 1;
  min-height: 50px;
}
.card .title {
  margin-bottom: 10px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}



/* TÍTULO DOS CARDS */
.card .title {
  color: var(--celadon);
}

.cta3 .title {
  color: var(--celadonDark);
}

/*  EVENTOS (links nos cards) */
a .card:hover {
  border: 1px solid var(--celadon);
}



.imagem-sobre {
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  height: 300px;
  width: 400px;

  display: block;
  margin: 0 auto; 
}

.imagem-card {
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  
  width: 300%;
  height: 200px;
  object-fit: cover;

  margin-bottom: 15px;
}

/*  CTA */
.cta {
  background-color: var(--porcelain);
  color: var(--dark);
  padding: 3rem 2rem;
}

.cta2{
  background-color: var(--porcelain2);
  padding: 3rem 2rem;
}

.cta2 p{
  color: var(--dark);
  margin-bottom: 15px;
}

.cta3{
  background-color: var(--verdeClaro);
  padding: 3rem 2rem;
}

.title  {
  font-family: 'Poppins', sans-serif;
  color: var(--orange);
}

/* LINHAS */

hr{
  border: none;
  height: 1px;
   background: linear-gradient(
    to right,
    var(--celadon),
    transparent
    );
}

.linha1{
  border: none;
  height: 1px;
  background: linear-gradient(
    to right,
    var(--orange),
    transparent
    );
  width: 300px;
}

.linha2{
  border: none;
  height: 1px;
  width: 300px;
  background: linear-gradient(
    to right,
    transparent,
    var(--celadonDark),
    transparent
    );
  margin: 10px auto;
}


/*  BOTÕES */
.button{
  background-color: var(--porcelain);
  color: var(--celadon);
  border: none;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  display: inline-block;
  width: 180px;       
  text-align: center;
  padding: 10px 0;
}

.button:hover {
  background-color: var(--porcelain2);
}

.button.is-warning {
  background-color: var(--orange);
  color: var(--white);
}


.button.is-light {
  background-color: var(--gold);
  color: var(--porcelain);
}

/*  FOOTER */
.footer {
  background-color: var(--celadon);
  color: var(--porcelain2);
  padding: 15px;
}